.title{
    position: absolute;
    top: 15%;
    left: 42%;
    color: azure;
    text-align: center;
    display: block;
}
.des{
    position: absolute;
    top: 35%;
    left: 40%;
    color: azure;
    color: azure;
    text-align: center;
    display: block;
}

.image{
    border-radius: 10px;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
}

.viewbtn{
    position: absolute;
    top: 55%;
    left: 35%;
    color: azure;
    color: azure;
    background-color: seagreen;
    border-radius: 5px;
}

.sharebtn{
    position: absolute;
    top: 55%;
    left: 55%;
    color: azure;
    color: azure;
    background-color: seagreen; 
    border-radius: 20%;   
}

.caption{
    display: inline;
    visibility: hidden;
}

.component{
    margin-bottom: 5%;
}

#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  #modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  .modal-img{
    width: 100%;
  }

  #close {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
   font-weight: bold;
   font-size: 20px;
   width: auto;
    border: none;
    border-radius: 5px;
    transition: 0.6 ease;
    background-color: seagreen; 
  }

  #close:hover, #close:focus{
    color: #000000;
  }

  /* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2%;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 2%;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: black;
  background-color: seagreen;
  text-decoration: none;
}
 
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    #modal-content {
      width: 100%;
    }

    #close{
      right: 5px;
      padding: 2px 5px 2px 5px;
    }
    
    .prev, .next{
      top: 38%;
      padding: 10px;
    }
  }
  